body {
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.6;
}

nav {
    font-weight: bold;
    text-shadow: white 0.05em 0.05em 0.1em;
    padding: 1% 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

#page-name {
    font-size: 3em;
    color: #4a4a4a;
}

#nav-links-header {
    list-style: none;
    display: flex;
    gap: 3%;
    padding-right: 5%;
}

#nav-links-header li a {
    color: #4a4a4a;
    text-decoration: none;
    font-size: 3em;
}

#nav-links-header li:nth-child(1) a {
    color: #8bc34a;
}

#nav-links-header li:nth-child(2) a {
    color: #a1887f;
}

#nav-links-header li:nth-child(3) a {
    color: #ffccbc;
}

#nav-links-header li a:hover {
    text-decoration: underline;
}

header {
    padding: 1%;
    text-align: center;
    border-top: 0.1em solid black;
    border-bottom: 0.1em solid black;
    max-width: 85%;
    margin: 0 auto;
    margin-top: 20em;
    margin-bottom: 4%;
}

h1 {
    color: #4a4a4a;
    font-size: 3em;
    letter-spacing: -0.1%;
    padding-left: 2.6em;
    margin-bottom: 6%;
}

#img-container {
    display: flex;
    flex-direction: row;
}

#img-container.row-reverse {
    flex-direction: row-reverse;
}

.img-placeholder {
    width: 35%;
    height: 25vw;
    object-fit: cover;
}

#life {
    background-color: #c8e6c9;
    padding-top: 5%;
    padding-bottom: 5%;
}

#life h2 {
    font-size: 2em;
    margin-bottom: 1%;
    color: #4a4a4a;
    font-weight: 400;
    padding-left: 4.2em;
}

#life p {
    padding-left: 8.5rem;
}

#habits, #contact {
    float: left;
    width: 50%;
    padding: 2%;
    height: 500px;
    box-sizing: border-box;
}

#habits {
    background-color: #d7ccc8;
    margin-right: 0;
    padding-top: 5%;
    padding-right: 5%;
}

#habits h2 {
    font-size: 2em;
    margin-bottom: 1%;
    color: #4a4a4a;
    font-weight: 400;
    padding-left: 3em;
}

#habits p {
    padding-left: 6rem;
}

#contact {
    background-color: #ffccbc;
    padding-top: 5%;
}

#contact h2 {
    font-size: 2em;
    margin-bottom: 1%;
    color: #4a4a4a;
    font-weight: 400;
    padding-left: 3em;
}

#contact p {
    padding-left: 6rem;
}

#contact input {
    background-color: #ffccbc;
    width: 90%;
    max-width: 500px;
    padding: 1%;
    margin: 1% auto;
    display: block;
    border: 0.1em solid #ccc;
    font-size: 1em;
    margin-bottom: 3%;
}

#contact button {
    padding: 1% 2%;
    background-color: #ffccbc;
    border: 0.1em solid #ccc;
    border-radius: 2em;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease;
    float: left;
    margin-left: 63.5%;
}

#contact button:hover {
    background-color: #d5a89a;
}

#dashboard {
    padding-top: 5%;
    clear: both;
    padding-left: 8em;
}

#dashboard h2 {
    font-size: 2em;
    margin-bottom: 4%;
    color: #4a4a4a;
    font-weight: 400;
}

.dashboard-item {
    margin: 0 2rem 7rem 0;
    padding: 0.8rem 1.3rem;
    background-color: #ffffff;
    border: 1px solid black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 25%;
    float: left;
}

.dashboard-item h3 {
    margin-top: 0.2rem;
    margin-bottom: 0.6rem;
    font-size: 1.4em;
    color: #4a4a4a;
    font-weight: 400;
}

.pColor {
    color :#999 !important;
}

.dashboard-item p {
    font-size: 1em;
    margin: 0 0 0.6rem 0;
}

.dashboard-item a:hover {
    text-decoration: underline;
}

#close-btn {
    position: fixed; 
    top: 20%; 
    background-color: white;
    border-radius: 1em;
    border: 0.1em solid #999; 
    transform: translateX(750%);
    width: 5em;
    height: 2em;
    font-size: 1.2em;
    cursor: pointer;
}

#modal { 
    position: fixed; 
    top: 30%; 
    left: 50%; 
    transform: translateX(-50%);
    border: 0.1em solid black; 
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2); 
    padding: 0.2em; 
    padding-bottom: 2em;
    width: 60vw; 
    max-height: 60vh; 
    overflow-y: auto; 
    overflow-x: hidden;
} 

#modal-content {
    width: 96%;
    padding: 1.25em;
    text-align: center; 
}

#modal-content h3 {
    font-size: 2em;
    font-weight: 400;
}

#modal-content h4 {
    font-size: 1.5em;
    color: #999;
    font-weight: 400;
}

#modal-content p {
    font-size: 1.2em;
}

footer {
    color: #4a4a4a;
    border-top: 0.1em solid black;
    max-width: 83%;
    padding-top: 1.5%;
    padding-bottom: 4%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#nav-links-footer {
    list-style: none;
    text-align: right;
    margin: 0;
}

#nav-links-footer li a {
    color: #4a4a4a;
}